<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
</head>
<body>
    <table style="max-height:150;">
        <tr>
            <td rowspan="2">
                <img src="unknown-person.png" alt=""/>
            </td>
            <td><p>Name:</p></td>
            <td width="fill"><input type='text' value="${person.name}"/></td>
        </tr>
        <tr>
            <td><p>Phone:</p></td>
            <td><input type='text' value="${person.phone}" size="10"/></td>
        </tr>
        <tr>
            <td colspan="3">
                <hr type='horizontal' align="bottom"/>
            </td>
        </tr>
    </table>

</body>
</html>